<!doctype html>
<html lang="en">
<head>
<meta property="og:title" content="Contact | Agentic Learning AI Lab" />
<meta property="og:description" content="Contact us" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://agenticlearning.ai/contact" />
<!--Replace with the current website url-->
<meta property="og:image" content="https://agenticlearning.ai/assets/images/background/bg1.jpg" />
{{> head}}
</head>
    <body class="tw-flex tw-min-h-[100vh] tw-flex-col tw-bg-[#fff] tw-font-mono">
        {{> header}} 

        <section class="tw-flex tw-w-full tw-flex-col tw-p-[5%] tw-mt-[150px] max-lg:tw-p-4  sm:tw-w-[100%] md:tw-w-[80%] lg:tw-w-[60%] xl:tw-w-[50%]">
            <h3 class="text-left tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                Contact
            </h3>
            <form id="contact-form" class="tw-space-y-4 tw-mt-[30px]">
                <div>
                    <!-- tw-rounded-md tw-shadow-sm  -->
                    <label for="name" class="tw-block tw-text-sm tw-font-medium tw-text-gray-700">Name</label>
                    <input type="text" id="name" name="name" required
                           class="tw-mt-1 tw-block tw-w-full tw-px-4 tw-py-2 tw-border tw-border-gray-300 focus:tw-ring-blue-500 focus:tw-border-blue-500"/>
                </div>
                <div>
                    <label for="email" class="tw-block tw-text-sm tw-font-medium tw-text-gray-700">Email</label>
                    <!-- tw-rounded-md tw-shadow-sm  -->
                    <input type="email" id="email" name="email" required
                           class="tw-mt-1 tw-block tw-w-full tw-px-4 tw-py-2 tw-border tw-border-gray-300 focus:tw-ring-blue-500 focus:tw-border-blue-500"/>
                </div>
                <div>
                    <label for="message" class="tw-block tw-text-sm tw-font-medium tw-text-gray-700">Message</label>
                    <!-- tw-rounded-md tw-shadow-sm  -->
                    <textarea id="message" name="message" rows="5" required
                              class="tw-mt-1 tw-block tw-w-full tw-px-4 tw-py-2 tw-border tw-border-gray-300 focus:tw-ring-blue-500 focus:tw-border-blue-500"></textarea>
                </div>
            
                <!-- reCAPTCHA widget -->
                <div class="g-recaptcha" data-sitekey="6LeLXHcqAAAAAKjLueRN9QL5eTcF7hC6kLFcDZjC"></div>
                
                <!-- tw-rounded-md  tw-text-white tw-font-semibold  -->
                <button type="submit"
                        class="tw-w-full tw-bg-black tw-py-2 tw-px-4 tw-bg-gray-200 tw-border-transparent tw-border-2 hover:tw-border-solid hover:tw-border-gray-600 tw-transition tw-duration-200">
                    send
                </button>
                <p class="tw-text-green-600 tw-text-center tw-mt-4" id="success-message" style="display: none;">Your message has been sent!</p>
                <p class="tw-text-red-600 tw-text-center tw-mt-4" id="error-message" style="display: none;">There was an error sending your message. Please try again.</p>
            </form>
        </section>

        {{> footer}}
    </body>
    <style>
        .loading {
            background-color: #718096; /* Gray out color */
            cursor: not-allowed;
        }
        .loading:hover{
            background-color: #718096; /* Gray out color */
        }
    </style>
    <script>
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault();

        // Hide previous messages
        document.getElementById('success-message').style.display = 'none';
        document.getElementById('error-message').style.display = 'none';
        
        const submitButton = event.target.querySelector('button[type="submit"]');
        submitButton.disabled = true;
        submitButton.classList.add('loading');
        submitButton.textContent = "sending...";
        
        const recaptchaResponse = grecaptcha.getResponse();
        // Check if reCAPTCHA is completed
        if (!recaptchaResponse) {
            document.getElementById('error-message').innerText = "Please complete the reCAPTCHA.";
            document.getElementById('error-message').style.display = 'block';
            submitButton.disabled = false;
            submitButton.classList.remove('loading');
            submitButton.textContent = "send";
            return;
        }

        // Send the email
        emailjs.sendForm('service_nyu', 'template_w5u7hym', this, {'g-recaptcha-response': recaptchaResponse})
            .then(function() {
                document.getElementById('success-message').style.display = 'block';
                document.getElementById('contact-form').reset();
                grecaptcha.reset(); // Reset reCAPTCHA after successful submission
                submitButton.disabled = false;
                submitButton.classList.remove('loading');
                submitButton.textContent = "send";
            }, function(error) {
                document.getElementById('error-message').style.display = 'block';
                console.error('Failed to send the message:', error);
                submitButton.disabled = false;
                submitButton.classList.remove('loading');
                submitButton.textContent = "send";
            });
    });
    </script>

    <script src="/index.js"></script>
</html>
