<!doctype html>
<html lang="en">
    {{> head}}
    <body class="tw-flex tw-min-h-[100vh] tw-flex-col tw-bg-[#fff] tw-font-mono">
        {{> header}}

        <section class="tw-relative tw-flex tw-w-full tw-max-w-[100vw] tw-min-w-[350px] tw-flex-col tw-overflow-hidden tw-mt-[150px] tw-px-[5%] max-md:tw-px-4 max-lg:tw-px-4 lg:tw-justify-around xl:tw-justify-around">
            <div class="tw-flex tw-w-full tw-place-content-center tw-gap-6 max-xl:tw-place-items-center max-lg:tw-flex-col">
            <div class="image-container">
                <img src="./assets/images/background/bg1.jpg" alt="app" class="reveal-hero-img tw-z-[1] tw-h-full tw-w-full tw-object-contain"/>

                <div class="text-overlay">
                <div class="tw-flex tw-flex-wrap tw-text-7xl tw-font-semibold tw-leading-[85px] max-lg:tw-text-4xl max-md:tw-leading-snug" style={position: relative}>
                        <span class="reveal-hero-text">
                            agentic learning <br/> ai lab
                        </span>
                </div>
                <div class="reveal-hero-text tw-mt-2 tw-max-w-[600px] tw-p-2 tw-text-justify max-lg:min(tw-max-w-full,tw-max-w-[600px])">
                        Agentic Learning AI Lab is a research lab in New York
                        University founded in 2022. We innovate learning algorithms that enable future agentic AI to learn and adapt flexibly in the real world.
                </div>
                </div>
            </div>
            <!-- <div class="tw-flex tw-flex-col tw-place-content-center"> -->
            <!-- </div> -->
            </div>
        </section>

        <section class="tw-mt-5 tw-flex tw-w-full tw-flex-col tw-p-[5%] max-lg:tw-p-4">
            <h3 class="reveal-up text-left tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                research areas
            </h3>
            <div class="reveal-up tw-my-4 max-md:tw-h-[3px] max-md:tw-w-[40px] tw-h-[5px] tw-w-[60px] tw-bg-gray-300 ">
            </div>

            <div class="reveal-up tw-mt-10 tw-space-y-8 tw-gap-10 sm:tw-columns-1 md:tw-columns-3 lg:tw-columns-3 xl:tw-columns-3">
            <!-- tw-place-content-center tw-justify-around -->
            {{> research_areas research_areas }}
            </div>
        </section>

        <section class="tw-mt-8 tw-flex tw-w-full tw-flex-col tw-px-[5%] max-lg:tw-p-4 tw-overflow-hidden">
            <h3 class="reveal-up text-left tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                recent works
            </h3>
            <div class="reveal-up tw-my-4 max-md:tw-h-[3px] max-md:tw-w-[40px] tw-h-[5px] tw-w-[60px] tw-bg-gray-300 ">
            </div>
            <!-- tw-shadow-lg  -->
            <div class="tw-mt-8 tw-gap-10 tw-space-y-reverse sm:tw-columns-1 md:tw-columns-2 lg:tw-columns-3 xl:tw-columns-4 tw-items-start">
                {{> recent_works recent_papers }}
            </div>
        </section>

        {{> footer}}
    </body>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"
        integrity="sha512-B1lby8cGcAUU3GR+Fd809/ZxgHbfwJMp0jLTVfHiArTuUt++VqSlJpaJvhNtRf3NERaxDNmmxkdx2o+aHd4bvw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"
        integrity="sha512-AY2+JxnBETJ0wcXnLPCcZJIJx0eimyhz3OJ55k2Jx4RtYC+XdIi2VtJQ+tP3BaTst4otlGG1TtPJ9fKrAUnRdQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>

    <script src="./index.js"></script>
</html>
