<!doctype html>
<html lang="en">

<head>
    <meta property="og:title" content="People | Agentic Learning AI Lab" />
    <meta property="og:description" content="Meet our lab members" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://agenticlearning.ai/people" />
    <!--Replace with the current website url-->
    <meta property="og:image" content="{{cdnUrl '/assets/images/background/bg1.jpg'}}" />
    {{> head}}
</head>

<body class="tw-flex tw-min-h-[100vh] tw-flex-col tw-bg-[#fff] tw-font-mono">
    {{> header}}

    <section class="tw-flex tw-w-full tw-max-w-6xl tw-mx-auto tw-flex-col tw-px-6 tw-mt-[150px] max-lg:tw-px-4">
        <h3 class="text-left tw-text-4xl tw-font-medium max-md:tw-text-2xl">
            People
        </h3>
        <div class="section-underline tw-my-4">
        </div>
        <h4 class="tw-mt-4 text-left tw-text-2xl tw-font-medium max-md:tw-text-xl">
            Current Members
        </h4>

        <div class="tw-mt-8 tw-flex tw-flex-wrap tw-justify-start tw-gap-y-8 tw-gap-x-4">
            {{> people_tab people_current }}
        </div>

        <h4 class="tw-mt-4 text-left tw-text-2xl tw-font-medium max-md:tw-text-xl">
            Alumni
        </h4>
        <div class="tw-mt-8 tw-flex tw-flex-wrap tw-justify-start tw-gap-y-8 tw-gap-x-4">
            {{> people_tab people_alumni }}
        </div>

    </section>


    {{> footer}}
</body>
<script src="/index.js"></script>

</html>