<hr class="tw-mt-4" />
<footer class="tw-mt-auto tw-flex tw-px-[5%] max-md:tw-px-4 max-lg:tw-px-4  tw-min-h-[100px] tw-w-full tw-place-items-center tw-gap-3 tw-text-black
">

    <div class="tw-flex tw-gap-6 tw-text-sm">
        60 Fifth Ave
        <br />
        New York, NY
        <br />
        
    </div>
    <div class="tw-flex tw-gap-6 tw-text-2xl tw-justify-end tw-ml-auto tw-px-2">
        <a href="https://github.com/agentic-learning-ai-lab" aria-label="Github">
            <i class="bi bi-github"></i>
        </a>
        
        <a href="https://x.com/agentic_ai_lab" aria-label="X">
            <i class="bi bi-twitter-x"></i>
        </a>

        <a href="https://bsky.app/profile/agentic-ai-lab.bsky.social" aria-label="Bluesky">
            <i class="bi bi-bluesky"></i>
        </a>
    </div>
</footer>