<header class="tw-absolute tw-top-0 tw-z-20 tw-flex tw-h-[120px] tw-w-full tw-bg-opacity-0 tw-px-[5%] max-lg:tw-mr-auto max-lg:tw-px-4 lg:tw-justify-around">
    <a class="tw-h-[120px] tw-p-[4px] tw-w-[100px] tw-text-2xl tw-font-medium" href="">
    agentic learning <br/> ai lab
    </a>
    <div class="collapsible-header animated-collapse max-lg:tw-shadow-md"
        id="collapsed-header-items">
        <div class="tw-flex tw-h-full tw-w-max tw-gap-5 tw-text-base tw-text-black max-lg:tw-mt-[30px] max-lg:tw-flex-col max-lg:tw-place-items-end max-lg:tw-gap-5 lg:tw-mx-auto lg:tw-place-items-center">
            <a class="header-links" href="./index.html"> home </a>
            <a class="header-links" href="./research.html"> research </a>
            <a class="header-links" href="./people.html"> people </a>
            <a class="header-links" href="./contact.html"> contact </a>
        </div>
        <div class="tw-mx-4 tw-flex tw-place-items-center tw-justify-end tw-gap-[20px] tw-text-base">
                <div class="tw-flex tw-h-[30px] tw-w-[30px] tw-rounded-full tw-bg-white tw-font-semibold tw-text-black tw-place-items-center ">
                    <a href="">
                    <i class="bi bi-search"></i>
                    </a>
                </div>
        </div>
    </div>
    <button
        class="bi bi-list tw-absolute tw-right-3 tw-top-3 tw-z-50 tw-text-3xl tw-text-black lg:tw-hidden"
        onclick="toggleHeader()"
        aria-label="menu"
        id="collapse-btn"
    ></button>
</header>