{{#each this}}
<a href="/people/{{{permalink}}}" class="tw-flex tw-h-fit tw-break-inside-avoid tw-flex-col tw-gap-2 tw-p-4 tw-w-[200px] tw-border-transparent tw-border-2 hover:tw-border-solid hover:tw-border-gray-600 hover:tw-bg-[#f3f3f3b4] tw-transition-all tw-duration-200">
    <div class="tw-flex tw-place-items-center tw-gap-3">
    <!--tw-rounded-full -->
        <div class="tw-h-[120px] tw-w-[120px] tw-overflow-hidden tw-mx-auto">
            <img src={{{image}}}
                class="tw-h-full tw-w-full tw-object-cover"
                alt="design"/>
        </div>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-2">
        <h3 class="tw-text-lg tw-font-medium tw-text-center max-md:tw-text-base">{{{name}}}</h3>
        {{#if current}}
        <p class="tw-text-gray-600 tw-text-center max-md:tw-text-sm">
            {{{position}}}
        </p>
        {{/if}}
    </div>
</a>
{{/each}}