{{#each this}}
<a href="/people/{{{permalink}}}" class="tw-flex tw-h-full tw-flex-col tw-gap-1 tw-pt-3 tw-pb-2 tw-px-2 tw-bg-[var(--card-bg)] tw-border-transparent tw-border-2 hover:tw-border-solid hover:tw-border-[var(--border)] tw-transition-all tw-duration-200">
    <div class="tw-flex tw-place-items-center tw-gap-3">
    <!--tw-rounded-full -->
        <div class="tw-h-[100px] tw-w-[100px] sm:tw-h-[120px] sm:tw-w-[120px] tw-overflow-hidden tw-mx-auto">
            {{{pictureCdn image alt="design" class="tw-h-full tw-w-full tw-object-cover"}}}
        </div>
    </div>
    <div class="tw-flex tw-flex-col tw-gap-1 tw-w-full tw-min-w-0">
        <h3 class="tw-text-base tw-font-medium tw-text-center max-md:tw-text-[15px] tw-break-words">{{{name}}}</h3>
        <p class="tw-text-sm tw-text-[var(--fg-muted)] tw-text-center tw-italic max-md:tw-text-[13px]">
            {{{position}}}
        </p>
    </div>
</a>
{{/each}}