{{#each this}}
<div class="page-item tw-w-full">
<div class="safari-padding-fix">
<!-- <div class="tw-flex tw-h-fit tw-break-inside-avoid tw-flex-col tw-gap-2 tw-bg-[#f3f3f3b4] tw-p-4 max-lg:tw-w-full  tw-border-transparent tw-overflow-hidden"> -->
    <div class="tw-flex tw-flex-col">
        {{formatDate date "YYYY-MM-DD"}}<br/>
        <a href="/research/{{{permalink}}}"><span class="tw-italic person-page-links">{{{title}}}.</span></a>
        <!-- <br/> -->
        <span class="tw-text-gray-600 tw-text-sm">{{{formatAuthors authors}}}.</span>
    </div>
<!-- </div> -->
</div>
</div>
{{/each}}