{{#each this}}
<div class="reveal-up tw-flex tw-h-fit tw-break-inside-avoid tw-flex-col tw-gap-2 tw-rounded-lg tw-bg-[#f3f3f3b4] tw-p-4 max-lg:tw-w-full max-lg:tw-max-w-[400px] hover:tw-shadow-lg tw-transition-shadow tw-duration-300">
    <div class="tw-h-[200px] tw-w-full tw-overflow-hidden tw-rounded-md">
        <img
            src={{image}}
            alt="article image"
            class="tw-h-full tw-w-full tw-object-cover tw-scale-150"
            srcset=""
        />
    </div>
    <h3 class="tw-text-2xl tw-font-semibold max-md:tw-text-xl">
        {{{title}}}
    </h3>
    <p class="tw-mt-2 tw-text-gray-600">
        {{{description}}}
    </p>
    <!-- <span>
        <span>Learn more</span>
        <i class="bi bi-arrow-right"></i>
    </span> -->
</div>
{{/each}}